{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h2>Tag : {{ tag.name }}</h2>
  <div class="ml-3">
    <h3>Tasks</h3>

  {% for task in tag.tasks.all %}
    <hr>
    <p class="text-muted"><strong>Id: </strong> {{ task.id }}</p>
    <p><strong>Content: </strong> <a href={% url "case:task-list" %}>{{ task.content }}</a></p>
    <p><strong>Created_time: </strong>{{ task.created_time }}</p>
    <p><strong>Deadline: </strong>{% if task.deadline %}{{ task.deadline }}{% endif %}</p>
    <p><strong>Is_done: </strong>{{ task.is_done }}</p>
  {% empty %}
    <p>There are no tasks!</p>
  {% endfor %}

  </div>
  <a href="{% url "case:tag-update" pk=tag.id %}"
     class="btn btn-primary">
    Update
  </a>
  <a href="{% url "case:tag-delete" pk=tag.id %}"
     class="btn btn-danger">
    Delete
  </a>

{% endblock %}
